body {
    background-color: #f4f4f4;
    color: #555;
    font-family: Arial, serif;
    font-size: 16px;
}

img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

.container {
    width: 80%;
    margin: auto;
}

.bottom {
    position: fixed;
    bottom: 0;
}

.image-cropper {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}
